body {
    background-color: black;
    color: azure;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;

}
h1 {
    text-align: center;
    width: 20%;
    margin: 5% auto;
    padding: 1%;
    border: 2px dashed orangered;
}
main {
    margin: 0;
}
.container{
max-width: 1280px;
height: 80%;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: dimgray;
}
.footer-class{
    width: 50%;
    height: 10%;
margin: 1% auto;
font-size: 20px;
}
.footer-class>p{
    margin: 0 auto;
    width: 40%;
    padding: 1%;
    text-align: center;
    border: 2px dashed orangered;
}

.meme_field{
    background-color:#1f1b17;
    width: 50%;
    margin: 5% auto;

}
.under-slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
  
}
.slider{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    width: 80%;
    padding: 3% 1%;

}
.slide{
    width: 100%;
    padding: 0 auto;
    display: none;
    overflow: hidden;
}
.slide>img{
    width: 95%;
margin: 0 auto;
border: 5px solid orangered;
animation-duration: 3s;
animation-name: fadeOut;
}
@keyframes fadeOut {
    from {
        opacity: 0;
    }
  
    to {
       opacity: 1;
    }
  }
.slide.active{
    display: block;
}
.phrases{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 80%;

   overflow: hidden;
}

.phrase{
    height: 5%;
    padding: 2%;
    display: none;
    animation-duration: 1s;
    animation-name: slideIn;
}
.phrase.active{
    display: block;
}
@keyframes slideIn {
    from {
      translate: -50vw 0;
      scale: 200% 1;
      opacity: 0,5;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
      opacity: 1;
    }
  }
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    height: 13px;
    margin: 5% auto; 

}
.pagination-point{
border: 1px solid lightskyblue;
background-color: lightskyblue;
width: 12px;
height: 12px;
border-radius: 20px;
margin: 0 auto;
}
.pagination-point.active{
    border: 1px solid lightskyblue;
background-color: rgb(57, 59, 59);
}
.pagination-point:hover{
    border: 1px solid lightskyblue;
    background-color: azure;
    cursor: pointer;
}
.pag-shell{
    width: 17px;
    height:17px;
    margin: 0;
    padding: 5px;

}
.pag-shell:hover{
    cursor: pointer;
}
@media (max-width: 850px){
    .meme_field{
        max-width: 60%;
    
    }
    .slider{
        width: 80%;
        padding: 5%;
    
    }
    .under-slider{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 75%;
     
    }
    .slide>img{
    width: 100%;
  
   }
    .phrases{
      width: 90%;
      order: 1;
    }
  
    .pagination{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;
        height: 14px;
        margin: 1% auto;
        
    }
    .pagination-point{
    width: 13px;
    height: 13px;
    border-radius: 20px;
    }
}
@media(max-width: 600px){
    .meme_field{
        max-width: 80%;
    
    }
    .slider{
        width: 90%;
        padding: 5%;
    
    }
    .under-slider{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 75%;
     
    }
    .slide>img{
    width: 100%;
   }
    .phrases{
      width: 90%;
      order: 1;
    }
  
    .pagination{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40%;
        height: 14px;
        margin: 1% auto;
        
    }
    .pagination-point{
    width: 13px;
    height: 13px;
    border-radius: 20px;
    }
}