body{
    margin: 0;
    padding: 0;
    background-color: rgb(109, 113, 115);
    color:whitesmoke;
}
h1{
    text-align: center;
    font-size: 24px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 2000px;
    background-color: rgb(38, 32, 32);
    font-size: 16px;
    line-height: 18px;
}



.visually-hidden{
    display: none;
}

.main-slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
   margin-top: 100px;
  
}
.slide{
    display: block;
}
.radio-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;

}
.radio-parent{
    display:block;
    margin: 10px;
    position: relative;
    top: 100px;
    left: -50px;

}

.form-radio-hidden{
    display: flex;
    flex-direction: row;
    height: 28px;
    position: relative;
    align-items: center;
  }
  
  .form-radio-hidden input{
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
  }
  
  .form-radio-hidden .radio{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid #999999;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: .5s all;
  }
  
  .form-radio-hidden:hover .radio{
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
  }
  

  .form-radio-hidden input:checked + .radio{
    border-color: #555;
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
    cursor: default;
  }
  

  .form-radio-hidden:hover .radio::before, .form-radio-hidden input:checked + .radio::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .form-radio-hidden input:checked + .radio::before{
    background-color: #555;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
  }


.radio-1.form-radio-hidden input:checked + .radio:before {
    content: url('Assets/Images/awesome.jpg');
    display: block;
    width: 500px;
   }
.radio-2.form-radio-hidden input:checked + .radio:before {
    content: url('Assets/Images/doge.jpg');
    display: block;
    width: 500px;
   }
   .radio-3.form-radio-hidden input:checked + .radio:before {
    content: url('Assets/Images/github.jpg');
    display: block;
    width: 500px;
   }
   .radio-4.form-radio-hidden input:checked + .radio:before {
    content: url('Assets/Images/kotik.jpg');
    display: block;
    width: 500px;
    padding: 20px;
   }